.heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    color: rgba(92, 39, 192, 1);
    text-align: center;
}

.span{
font-family: sans-serif;
font-size: 42px;

font-weight: 400;
line-height: 50px;
text-align: center;
}


.monthHead{
   font-family: Garnett Medium;
font-size: 25px;
color:rgba(92, 39, 192, 1);
font-weight: 500;
line-height: 32.04px;
text-align: center;
font-weight: bolder;
}

.moneyHead{
   font-family: Garnett Medium;
font-size: 40px;
color: rgba(31, 31, 31, 1);
font-weight: bolder;

line-height: 55.72px;
text-align: center;
}

.spanMoney{
   font-family: Garnett Medium;
font-size: 16px;
color: rgba(31, 31, 31, 1);
;
font-weight: 500;
line-height: 22.29px;
text-align: center;
}

.subDet{
   font-family: Garnett Medium;
font-size: 18px;
font-weight: bold;
font-weight: 500;
line-height: 28px;
text-align: center;
color: rgba(92, 39, 192, 1);
}



.buttonCOM{
   padding: 10px 95px;
   left: 40px;
   border-radius: 6px;
   border: none;
   background-color: rgba(92, 39, 192, 1);
   color: white;
}

.buttonDomo{
   
   padding: 16px 30px;
   border-radius: 10px;
   color: rgba(92, 39, 192, 1);
   gap: 16px;
   box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.22);
   border: 2px solid rgba(92, 39, 192, 1)
   
   }
