.btn{
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    background-color: #5C27C0;
    color: white;
    border: none;
    margin-top:20px;
    padding: 20px 65px;
    box-shadow: 0px 8px 18px 0px #AE5DFF75;
    margin-bottom: 70px;
   }                  
                     

.btn:hover{
    background-color: white;
    color: #5C27C0;
    border: 2px solid  #5C27C0;


}